.sidebar-fixed {
  height: 100vh;
  width: 270px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0; }
  .sidebar-fixed .list-group .active {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  .sidebar-fixed .logo-wrapper {
    padding: 2.5rem; }
    .sidebar-fixed .logo-wrapper img {
      max-height: 50px; }

@media (min-width: 1200px) {
  .navbar,
  .page-footer,
  #main {
    padding-left: 270px; margin-left:0!important;margin-right:0!important} }

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none; } }
#foot{
    background-color: #F8FAFA;
    z-index: 1051;
}
.footer-copyright-bg{background-color: #1E282D}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}
.bxsh{box-shadow: 0.1px 0.11px 5px rgb(216, 216, 216)!important;}
.btn-edit{margin:0.1em;background-color: #2AB000;color: white;text-transform:uppercase;word-wrap:break-word;white-space:normal;cursor:pointer;border:0;border-radius:.125rem;box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;padding:5px 10px 5px 10px;font-size:11px}
.btn-delete{margin:0.1em;background-color: rgb(194, 8, 8);color: white;text-transform:uppercase;word-wrap:break-word;white-space:normal;cursor:pointer;border:0;border-radius:.125rem;box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;padding:5px 10px 5px 10px;font-size:11px}
@media screen and (max-width: 1200px) {
  .smobile {
    display: block!important;
    margin: auto!important;
  }
}
@media screen and (max-width: 700px) {
  .mbl {
    display: none!important;
    margin-right: auto!important;
  }
}
.ac{align-items: center;align-self: center;align-content: center;}
th { font-size: 14px!important; }
td { font-size: 14px!important; }

.fs-records th{font-size:12px!important;}
.fs-records td{font-size:12px!important;}

.conatiner {
	width: 100%;
	height: 300px;
}
.wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.box {
	margin: 10px;
	width: 300px;
	height: 280px;
	color: #fff;
	text-align: center;
	border-radius: 10px;
	-webkit-transition: 200ms ease-in-out;
	-o-transition: 200ms ease-in-out;
	transition: 200ms ease-in-out;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	        box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.box:hover {
	color: orange!important;
	margin-bottom: -10px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.7);
	        box-shadow: 0 0 5px rgba(0,0,0,0.7);
}
.box h1 {
	padding: 30px;
	margin-top: 20px;
	text-align: center;
	font-weight: 100;
	font-size: 25px;
	background: rgba(60, 77, 118, 0.842);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
	        box-shadow: 0 0 10px rgba(0,0,0,0.253);
}
.poster {
	width: 130px;
	height:130px;
	margin: 20px auto;
	position: relative;
	border-radius: 100px;
}
.poster h4 {
	top: 28px;
	position: relative;
	font-size: 60px;
	text-align: center;
	font-weight: 100;
}
.p1 {
	background: #2b5876;  
	background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  
	background: -webkit-gradient(linear, left top, right top, from(#4e4376), to(#2b5876));
	background: -webkit-linear-gradient(left, #4e4376, #2b5876);
	background: -o-linear-gradient(left, #4e4376, #2b5876);
	background: linear-gradient(to right, #4e4376, #2b5876); 
	-webkit-box-shadow: 0 0 10px darkblue;
	        box-shadow: 0 0 10px darkblue;
}
.p1n {
	background: #2b5876;  
	background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  
	background: -webkit-gradient(linear, left top, right top, from(#4e4376), to(#2b5876));
	background: -webkit-linear-gradient(left, #4e4376, #2b5876);
	background: -o-linear-gradient(left, #4e4376, #2b5876);
	background: linear-gradient(to right, #4e4376, #2b5876); 
	-webkit-box-shadow: 0 0 3px darkblue;
	        box-shadow: 0 0 3px darkblue;
}
.p2 {
	background: #2b5876;  
	background: -webkit-linear-gradient(to right, #F1F1F1, #e9e9e9);  
	background: -webkit-gradient(linear, left top, right top, from(#F1F1F1), to(#e9e9e9));
	background: -webkit-linear-gradient(left, #F1F1F1, #e9e9e9);
	background: -o-linear-gradient(left, #F1F1F1, #e9e9e9);
	background: linear-gradient(to right, #F1F1F1, #e9e9e9); 
}
.p3 {
	background: -webkit-linear-gradient(to right, #E9E9E9, #93a1c2);  
	background: -webkit-gradient(linear, left top, right top, from(#E9E9E9), to(#93a1c2));
	background: -webkit-linear-gradient(left, #E9E9E9, #93a1c2);
	background: -o-linear-gradient(left, #E9E9E9, #93a1c2);
	background: linear-gradient(to right, #E9E9E9, #93a1c2); 
}
.p4 {
	background: #2b5876;  
	background: -webkit-linear-gradient(to right, #121F47, #586688);  
	background: -webkit-gradient(linear, left top, right top, from(#121F47), to(#586688));
	background: -webkit-linear-gradient(left, #121F47, #586688);
	background: -o-linear-gradient(left, #121F47, #586688);
	background: linear-gradient(to right, #121F47, #586688); 
	-webkit-box-shadow: 0 0 5px darkblue;
			box-shadow: 0 0 5px darkblue;}
.p4rev {
	background: #2b5876;  
	background: -webkit-linear-gradient(to right, #2b5876, #4e4376);  
	background: -webkit-gradient(linear, left top, right top, from(#2b5876), to(#4e4376));
	background: -webkit-linear-gradient(left, #2b5876, #4e4376);
	background: -o-linear-gradient(left, #2b5876, #4e4376);
	background: linear-gradient(to right, #2b5876, #4e4376); 
	-webkit-box-shadow: 0 0 5px darkblue;
			box-shadow: 0 0 5px darkblue;}
.p5 {
	background: #2b5876;  
	background: -webkit-linear-gradient(to right, #586688, #2b5876);  
	background: -webkit-gradient(linear, left top, right top, from(#586688), to(#2b5876));
	background: -webkit-linear-gradient(left, #586688, #2b5876);
	background: -o-linear-gradient(left, #586688, #2b5876);
	background: linear-gradient(to right, #586688, #2b5876); 
}
.each-search{width: inherit!important;font-size: 12px!important;text-align: center;}
.c-title{background-color: #e9e9e9;border: 1px solid #586688!important;}
.hamb-menu{color:#fff!important; font-size:28px;}
.tuvis-logo{max-width:60px!important;border-radius: 100%;}
.tuvis-logo-login{border-radius: 100%;max-width: 160px;}
.tuvis-logo-register{border-radius: 100%;max-width: 100px;}
.sidebar-bg{top: 0;background-color: #425D72!important;}
.f-vw{font-size: 1.1vw!important;}
.b-orange{background-color: orange!important;}
.b-blue{background-color: #425D72!important;}
.c-orange{color: orange!important;}
.c-white{color: white!important;}
.c-dblue{color: #586688}
.b-tvs{background-color: rgb(252, 249, 245)!important;}
.b-grey{background-color: #e9e9e9;border: 1px solid #586688!important;}
.button-blue{background-color: #425D72!important;color: white;}
.button-blue:hover{color: orange;}
.button-orange{background-color: orange!important;color: white;}
.tvs-border{border: 1px solid #586688!important;}
.logo-border-div{border-radius: 100%;background-color: #425D72;display: inline-block;}
.logo-border-div2{border-radius: 100%;background-color: rgb(104, 145, 177);display: inline-block;}
.list-group-item:hover{background-color: rgb(157, 185, 206)!important;color: white!important;}
.evo select{visibility: hidden;}
.exit:hover{color: rgb(157, 185, 206)!important;}
.one {
	background: rgb(233, 233, 233);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  width: 60px;
  height: 60px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  width: 300px;
  height: 300px;
}
.btn-report{border-radius: 5px;background-color: #425D72;color: white!important;padding: 8px;}
.btn-report-off{color: #425D72!important;padding: 8px;border-radius: 5px;border: 1px solid #ced4da}
.btn-report-off:hover{background-color: #e9e9e9}