{% extends "dashLayout.html" %}
{% load static %}
{% block list-group %}
<a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action waves-effect mb-2 b-tvs rounded">
    <i class="fas fa-chart-pie mr-3"></i>Kontrol Paneli</a>
<a href="{% url 'newRecord' %}" class="list-group-item list-group-item-action waves-effect mb-2 b-tvs rounded">
    <i class="fas fa-plus mr-3"></i>Hata Tanımla</a>
<a href="{% url 'records' %}" class="list-group-item list-group-item-action waves-effect mb-2 b-tvs rounded">
    <i class="fas fa-table mr-3"></i>Kayıtlar</a>
<a href="{% url 'users' %}" class="list-group-item list-group-item-action waves-effect mb-2 b-tvs rounded">
    <i class="fas fa-user mr-3"></i>Kullanıcılar</a>
<a href="{% url 'errors' %}" class="list-group-item list-group-item-action waves-effect mb-2 b-tvs rounded">
    <i class="fas fa-exclamation-circle mr-3"></i>Hatalar</a>
<a href="{% url 'qualities' %}" class="list-group-item active waves-effect mb-2 b-orange rounded">
    <i class="fas fa-certificate mr-3"></i>Kaliteler
</a><a href="{% url 'reports' %}" class="list-group-item list-group-item-action waves-effect mb-2 b-tvs rounded">
    <i class="fas fa-file-alt mr-3"></i>Raporlar</a>
{% endblock list-group %}

{% block title %}
<a href="{% url 'qualities' %}" class="c-orange">Tüm Kaliteler</a>
<span>/</span>
<span>Genel Bakış</span>
{% endblock title %}

{% block content %}
<div class="mt-3 mb-3">
    <div>
        <div class="col-md-12 p-2 text-center">
            <a href="{% url 'newQuality' %}"><button class="btn button-blue">Yeni Kalite</button></a>
        </div>
    </div>
</div>
<div class="mb-1 border p-3 bxsh text-center b-grey">
<table id="table_id" class="display">
    <thead class="black white-text">
        <tr>
            <td>#</td>
            <td>Oluşturma Zamanı</td>
            <td>Kalite Kodu</td>
            <td>Kalite Adı</td>
            <td>Kayıt Sayısı</td>
            <td>İşlemler</td>
        </tr>
        <tr>
            <th>#</th>
            <th>Oluşturma Zamanı</th>
            <th>Kalite Kodu</th>
            <th>Kalite Adı</th>
            <th>Kayıt Sayısı</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for quality in qualities %}
        <tr>
            <td>{{quality.qu_id}}</td>
            <td>{{quality.qu_createdat}}</td>
            <td>{{quality.qu_code}}</td>
            <td>{{quality.qu_name}}</td>
            <td>{% for rc in recordCount %}
            {% if quality.qu_id == rc.re_qualityid %}
            {{rc.total}}
            {% endif %}
            {% endfor %}</td>
            <td>
                <div class="row justify-content-center">
                    <a href="{% url 'editQuality' quality.qu_id %}"><button class="btn-edit">Düzenle</button></a>
                    <a href="{% url 'deleteQuality' quality.qu_id %}" class="confirmation"><button class="btn-delete">Sil</button></a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'excelHtml5',
                'pdfHtml5',
            ]
        });
        $('#table_id thead th').each(function () {
            var title = $(this).text();
            $(this).html('<input class="each-search" type="text" placeholder="' + title + '" />');
        });

        var table = $('#table_id').DataTable();

        table.columns().every(function () {
            var that = this;
            $('input', this.header()).on('keyup change clear', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
        $('.each-search').addClass("form-control p-0");
        $('#table_id_length label select').addClass("browser-default custom-select custom-select-sm");
        $('#table_id_filter').addClass("d-none");
    });
</script>
<script>
    $('.confirmation').on('click', function () {
        return confirm('Emin misiniz?');
    });
</script>
{% endblock content %}